# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
go.work
go.work.sum

# Local
.vscode
.idea
.env
build
log
reports
*.pem
*.key
*.pcap
*.pcapng
settings.json

.DS_Store
recon/*.bin
recon/strings.txt
recon/*.bin
recon/*.pkl
recon/strings.txt
/recon/*.bin
/recon/strings.txt
